
body{
    text-align: center;
    background-color: rgb(160, 138, 138);
}


.welcome-message{
    color: rgb(6, 6, 89);
    margin-bottom: 70px;
    font-size: 50px;

}    
.welcome-message:hover{
    color: rgba(56, 53, 252, 0.913);
    margin-bottom: 70px;
    font-size: 50px;

}    

.username{
    background-color: pink;
    /* color: red; */
    padding: 10px;
    /* margin-bottom: 30px; */
    border-radius: 45px;
}  
.username:hover{
    background-color: rgb(0, 0, 0);
    font-size: 23px;
    color: red;
    padding: 10px;
    border-radius: 45px;
}  

.password{
    background-color: pink;
    /* color: pink; */
    padding: 10px;
    border-radius: 50px;
}
.password:hover{
    background-color: rgb(0, 0, 0);
    font-size: 23px;
    color: red;
    padding: 10px;
    border-radius: 45px;
}      


.usernameField{
    /* color: rgb(255, 255, 255); */
    /* height: 35px;
    width: 350px; */
    /* background-color: rgba(6, 6, 6, 0.294); */

    text-align: center;
    border-radius: 50px;
    border-color: rgb(141, 10, 139);
    border-width: 4px;
}    
.passwordField{
    /* height: 35px;
    width: 350px; */
    /* background-color: rgba(6, 6, 6, 0.294); */

    text-align: center;
    border-radius: 50px;
    border-width: 4px;
    border-color: rgb(141, 10, 139);
}    

.pin{
    /* background-color: rgba(6, 6, 6, 0.294); */
    height: 35px;
    width: 130px;
    text-align: center;
    border-radius: 50px;
    border-width: 4px;
    border-color: rgb(141, 10, 139);
}    


.encButton{
    color:rgb(35, 27, 146);
    font-style:bold;
    margin: 25px;
    font-size: 30px;
    border-radius: 50px;
    
    border-width: 4px;
    height: 45px;
    width: 130px;

}

.encButton:hover{
    color:rgb(0, 0, 0);
    font-style: bold;
    font-size: 30px;
    border-radius: 50px;
    height: 45px;
    width: 135px;

}

#message{
    display: none;
    margin: auto;
    border-width: 5px;
    border-color: green;
    border-radius: 43px;
    background: #000;
    color: wheat;
}